form {
    border: thin solid red;
    padding: 2rem;
    margin: 2rem;
    display: flex;
}

.formtext {
    position: relative;
    top:-48px;
    background: white;
    padding: 7px;
    width: 57px;
    color:red;
}